@import '../base/fuentes';
@import '../base/variables';


.bcForm {
    background-image: url('https://lh3.googleusercontent.com/BpgmIYPVikAiXYfoLBkOoQwtQbttY0q_lwhf6Tp3VnGvpAbyk1-gMisLHd5GaQsNI0iF0Se0DGFsXN6ziX1vONFcS47DOwyKNqDj8MqZiIAJX7QAwEq1eR1pBcy99CSiAA7bvPPgHiJ1s9H80escYYEgmvn4gR35Y9iyG_X2ZsuTjwUaM3l56E8rO0AunMMFxtf7jh9R0Fo-Xway8vXXppl9eodpx65nanVR48UmYVgBf98QVhjw0E1GTOjEh4MiUlDCz0_aCrkRzLRVludk-DtnfmUnlDkRsnCXD70GHqttVTJn5awusCYXep2c7w117ST6RTEBoYsv26eNBKn9VVPlxlts5oDt4qUkzckAoi_jQhmTrRyzA92UG3Sun_gWcfLdMTAPuwaScZ665SDuj2y7j9XtMpyCTOczk20he7kMY-Fux_95frlM06DpwbxI06EWQ1C6r3FTPdt7IbW-qS32_43R4TWpWpDA1cj1ynleicvXTrxqu5_lmpnB3lhTeSpLhdKTDcupdo6Ho31Uy-WiqtP5eC8RmjBrJyoAiqXxsIPu_NQNH-GcBobYw3W3m7fKUl4oGbQOHPlpY3aYB3DWQoiiVU07stDIqxgBvyp6AsyR6bUraPsgEEVP7zozFC_fxguZXiKf6fLQs9x5jVGkxcTQ2y54IVi2jaUZ8qLtJBFVJwZ5T_oFDlABtZAStGaQhnGumaJgAYBTMIvThoed=w937-h400-no?authuser=0');
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 100px;
    font-family: 'roboto', sans-serif;
    padding-bottom: 1rem;
}

.flexForm {
    display: flex;
    justify-content:space-evenly;    
    flex-direction: column;
    align-items:center;
    padding: 1em;
}

.paragraphForm {
    font-family: 'anton', sans-serif;
    font-size: nth($encabezados, 5);
    text-decoration: none;
    color: nth($paleta, $n: 9);
}