*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none; /* Permite que el texto no se pueda seleccionar */
}

html{
    -webkit-text-size-adjust: 100%;
    font-size: 16px;   
}

@import '../base/fuentes';
@import '../base/variables';
@import '../base/media';

#imageBody{
    background-image: url('../imagenes/video_prueba.gif');
    background-repeat: no-repeat;
    background-size: cover;    
}

.titleNone{
    display: none;
}

.principalContent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 10rem;
}

.enterSite {
    background-color: nth($paleta, 9);
    font-family: 'roboto', sans-serif;
    font-size: nth($encabezados, 2 );
    padding: 1rem;
    border-radius: 20px;
    text-decoration: none;
    color: nth($paleta, 8);
    transition-property: all;
    transition-duration: 2s;
    &:hover{
        transform: translate(1.5);
        color:nth($paleta, 4)
    }
}

.navImage {
    width: 150px;
}

#logo1 .navImage{
    transition-property: all;
    transition-duration: 3s;
    &:hover {
        transform: translate(1.5);
    }
}


.textTitle {
    font-size: nth($encabezados,6);
    color:nth($paleta, 1);
    font-family: 'roboto', Cochin, Georgia, Times, Times New Roman, serif;    
    text-align: right;
    letter-spacing: 2px;
    background-color:nth($paleta, 5);
    padding: 40px;
}

.listStyle{
    &:hover{
        border-bottom: 2px #D9A7E2 solid;
    }
}

.contain {
    display: flex;
    justify-content: flex-end;
    padding-right: 150px;    
}

.iconUp {
    position: fixed;    
    top:  500px;
    left: 1300px;   
}

.bcFlex {
    padding: 110px;    
}

.bgLight {
    border-bottom: $border;
}

.bcImage {
    width: 400px;
    height: 200px;
    border: $border-a;
    position: relative;
    left: 50px;
    box-shadow: 10px 5px 5px black;
}

.flexIntro {
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}


.fondo {
    background-image: url('https://lh3.googleusercontent.com/S-Fkeg8f0qGAFOvzw7UcqEE13XdMbTFh-mECu4AP5EVSzlyO7ddruI6PPzHRZuvz99L88ZUeotTGhjzAaWPh7sPp1rAVTyGfQCvbbKOOC-VC4Jzy5QGUGkoK1xReOAZ0MbJWWB9P30MrQjfU7XiCyVMP04fdgA4Uv02uLV5wpkOFmDwqHg4x322JAekjHVDTeEDVw_NsdUnBzjBAPG6_pSH_4sluFOtXCbvkSU0wzVtMLiHhwYT2PLiTa5Pp7U7nOFuyzNqbDrR9W13CezaiaDoGNuxvWUN1M6u1WcptOq-Fh1_pf4crzfjJ97a-5vmJ4UqdTHoHCQn1eD0oxLT8Dpjx1P33gmWM7dsaPeUWKbifAT0Ea1MYaZehrsMn6Ka3I-La_JMnNbBGqh51O3W-TLS-dpoAVJ-hvGyj5YJvA0V0x41b-_k7c6lKanpCXSOlqE-Jt5xYfk7akga137SArQLiCpoyZdU4aktOp2t2rB_ZJcSuMH5yjS6iYhA7pZeJnM9m0YYjgL_rHPyT3X2CtBrQkjvynZbsaOJRwkRdbYHvhFBjDw3-kwVbcWcKXy1RZC10KZlCdmfzIkHyySTnscax_b0g47v6Q_-cHrzLd22t--F2xXwVNioLz6awSzFQ3BxEteBAaKY34jYPD4KhS0GKIocw36Y1-unmmeLSpBzy_yMNtnH39apzzgyW5Yl1Xa8Q-pVWhAhpyQCCHxG7n88h=w937-h400-no?authuser=0');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

