@import '../base/fuentes';
@import '../base/variables';
@import '../base/media';

h2{
    font-family: 'padauk', sans-serif;
    font-size: nth($encabezados, 3);
}

.textPrincipal {
     font-family: 'padauk', sans-serif;
     font-size: nth($encabezados, 4);
     text-align: justify;
     padding: 5px;
     letter-spacing: 1px;
}

.cardImage {
    display: none;
}

.flexTitle {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: nth($paleta, 1);
}

.imgFlexbox {
    display: flex;
    justify-content: space-around;
}

.imgContainer{
    padding: 20px;
    transition-property: all;
    transition-duration: 2s;
    &:hover{
        transform: scale(1.1);
        text-decoration: rgba(196, 39, 39, 0.253);
    }
    
}

.grid {
    display: grid;
    height: 100vh;
    grid-template-columns: $gridColumns;
    grid-template-rows: $gridRows;
    row-gap: 150px;
    grid-template-areas: 
    "imagenUno imagenDos imagenTres"
    "imagenCuatro imagenCinco imagenSeis";
    justify-content:space-around;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 900px;
    background-color: nth($paleta, 4);
}

.image-1 {
    background-color: nth($paleta, 7);
    border-radius: 20px;
    color: nth($paleta, $n: 8);
    margin-top: $mtop;
    grid-area: imagenUno;
    padding-bottom: $padding-a;
}

.image-2 {
    background-color: nth($paleta, 7);
    border-radius: 20px;
    color: nth($paleta, $n: 8);
    margin-top: $mtop;
    grid-area: imagenDos;
    padding-bottom: $padding-a;
}

.image-3 {
    background-color: nth($paleta, 7);
    border-radius: 20px;
    color: nth($paleta, $n: 8);
    margin-top: $mtop;
    grid-area: imagenTres;
    padding-bottom: $padding-b;
}

.image-4 {
    background-color: nth($paleta, 7);
    border-radius: 20px;
    color: nth($paleta, $n: 8);
    margin-top: $mtop;
    grid-area: imagenCuatro;
    padding-bottom: $padding-a;
}

.image-5 {
    background-color: nth($paleta, 7);
    border-radius: 20px;
    color: nth($paleta, $n: 8);
    margin-top: $mtop;
    grid-area: imagenCinco;
    padding-bottom: $padding-b;
}

.image-6 {
    background-color: nth($paleta, 7);
    border-radius: 20px;
    color: nth($paleta, $n: 8);
    /* margin-top: $mtop; */
    grid-area: imagenSeis;
    /* padding-bottom: $padding-a; */
}

.textDescription {
    display:flex;
    justify-content:space-around;
    flex-direction: column;
    text-align: center;
    font-family: 'montserrat', sans-serif;
    font-size: nth($encabezados, 2);
    padding: $padding;
}


.imgFrame {
    position:absolute;
    z-index: 1;
    transition-property: all;
    transition-duration: 1s;
    &:hover{
        transform: translateY(145px);
    }
}

.bcSection {
    background-color: nth($paleta, 8);
    padding-top: 20px;
}

.sectionFrame {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    background-color: nth($paleta, 1);
}

.carouselProp {
    width: 25%;    
}