@media (max-width: 861px) {
    .grid {
        display: none;
    }
}

@media (max-width: 860px) {
    .cardImage {
        display: initial;
        padding-left: 20px;
        padding-right: 20px;       
    }

    .textPrincipal {
        display:none;
    }
}