$border: 2px black solid;
$border-a: 2px black solid;
$padding: 4px;
$padding-a: 20px;
$padding-b: 100px;
$mtop: 0;
$gridColumns: 300px 300px 300px;
$gridRows: 300px 300px ;

$paleta: /* recordar siempre nth */
#F7EDE2 /* 1 */
#F5CAC3 /* 2 */
#D9A7E2 /* 3 */
#F6BD60 /* 4 */
#84A59D /* 5 */
#F28482 /* 6 */
#696161 /* 7 */
#ffffff /* 8 */
#000000; /* 9 */

$encabezados:
12px
14px
16px
20px
24px
36px
48px;
