$border: 2px black solid;
$border-a: 2px black solid;
$padding: 4px;
$padding-a: 20px;
$padding-b: 100px;
$mtop: 0;
$gridColumns: 300px 300px 300px;
$gridRows: 300px 300px;
$width-ms: 300px;

$paleta: /* recordar siempre nth */
#F7EDE2 /* 1 */
#F5CAC3 /* 2 */
#D9A7E2 /* 3 */
#F6BD60 /* 4 */
#84a59dbb /* 5 */
#F28482 /* 6 */
#4e494975 /* 7 */
#ffffff /* 8 */
#000000 /* 9 */
#84a59d69; /* 10 */ 

$encabezados:
12px
14px
16px
20px
24px
36px
48px;
